.page-subheading {
    font-size: 1.2rem;
    text-align: center;
}
.wall {
    background-repeat: no-repeat;
    background-position: 0 -.2em;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8rem;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    width: 95%;

    .wall-tiles {
        align-self: flex-end;
        border: 1px solid #4f4f4f;
        color: #fff;
        cursor: pointer;
        font-size: 0.8rem;
        height: 3.5rem;
        list-style: none;
        margin-top: 5px;
        overflow: hidden;
        padding: 8px;
        width: auto;
    }
}