.wall {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    // background-image: url(../images/ourlocation.jpg);
    background-repeat: no-repeat;
    background-position: 0 -.2em;

    .wall-tiles {
        list-style: none;
        height: 100px;        
        width: 100px;
        border: 1px solid #4f4f4f;
        overflow: hidden;
        margin-top: 5px;
    }
}