<!--The content below is only a placeholder and can be replaced.-->
<div class="home">

  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <ul>
    <li [ngClass]="{'active' : getActiveClass() == 'home'}">
      <a target="_blank" rel="noopener" href="/">home</a>
    </li>
    <li [ngClass]="{'active' : getActiveClass() == 'photos'}">
      <a rel="noopener" href="photos">Photos</a>
    </li>
    <li class="">
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CRUD page</a>
    </li>
    <li class="">
      <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>